.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.header {
  background-color: rgba(128, 128, 128, 1);
  border-radius: 30px;
  margin-top: 50px; /* You might want to remove this to avoid a gap before the header becomes sticky */
  height: 100px;
  min-width: 80%;
  width: max-content;
  display: flex;
  flex-direction: row;
  opacity: 0; 
  animation: fadeInAnimation 1s ease-in-out forwards;
  position: sticky; /* Add this to make the header sticky */
  top: 20px; /* Align the header to the top of the viewport */
  z-index: 1000; /* Ensure the header is above other content */
}

/* Keyframes for the fade-in effect */
@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a {
  text-decoration: none;
  color: initial;
}

.actionsButton {
  width: 100%;
  font-size: 30px;
  border-left: 2px solid black;
  padding: 30px;
  text-align: center;
}

.actionsButton:hover {
  background-color: orange;
  border-radius: 20px;
  cursor: pointer;
}


.noborder {
  border: none;
}

.socials {
  font-size: 30px;
  display: grid;
  grid-template-columns: repeat(2, 40px);
  grid-template-rows: repeat(2, 40px);
  align-self: center;
  column-gap: 5px;
  row-gap: 5px;
}

.onHoverFAS:hover {
  cursor: pointer;
  scale: 1.1;
}

.icon-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.hover-text {
  visibility: hidden;
  position: absolute;
  left: 20%; 
  top: 100%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: black;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 10; 
}

.icon-container:hover .hover-text {
  visibility: visible;
}

.message {
  position: relative;
  top: 50px;
  font-size: 25px;
  color: grey;
  text-align: center;
  word-spacing: 4px;
}
 
/* BIO SECTION */

#biography {
  min-width: 80%;
  height: 500px;
  width: 80%;
  position: relative;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
  border-radius: 20px;
  margin-bottom: 300px;
}


.biographyDIVMAIN {
  background-color: rgba(128, 128, 128, 0.2);
  height: 500px;
  width: 100%;
  border-radius: 20px;
  position: relative;
  top: 300px;
  margin-bottom: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;

}

.logoPerson {
  width: 400px;
}

#logoPersonDiv {
  margin-left:50px;
}

.textBiography {
  text-align: left;
  width:900px;
  height: max-content;
}

#p1 {
  font-size: 2em;
  font-weight: 800;
}

#bioArticle {
  position: relative;
  top: 10px;
  line-height:20px;
  word-spacing:8px;
}


/* Projects */
#projects, #experiences, #certifications {
  min-width: 80%;
  height: 500px;
  width: 80%;
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
  border-radius: 20px;
  margin-bottom: 300px;
}

#projectsDiv {
  background-color: rgba(128, 128, 128, 0.2);
  height: 500px;
  width: 100%;
  border-radius: 20px;
  position: relative;
  top: 300px;
  margin-bottom: 300px;
  padding-top: 150px;
}