@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@font-face {
  font-family: 'Hackout'; /* Give your font a unique name */
  src: url(./Assets/fonts/Hackout.otf) format('opentype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Hackout';
}

body {
  background: url(./Assets/image/bg.jpg);
  background-size: cover;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: black;
  position: sticky;
  height: 5vh;
  bottom: 0;
}

.footer > p {
  position: relative;
  text-align: center;
  top: 10px;
  color: white;
} 

.footer > p > a {
  color: orangered;
  text-decoration: none;
}